<ul>
<% @lists.each do |list| %>
<li> <%= link_to list.name, list_path(list) %> </li>
  <%= link_to "Delete",
        list_path(list),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
<hr>
<% end %>
</ul>

<%= cl_image_tag("mnqnrnicbqwz2ev8ldtp",
      width: 400, height: 300, crop: :fill) %>

<a href="lists/new">Add a new list</a>
